Assignment1/ConsoleApp1/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:53855/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:53855/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:53855/Service1.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_CheckPrime_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckPrime" />
  </wsdl:message>
  <wsdl:message name="IService1_CheckPrime_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckPrimeResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Sum_InputMessage">
    <wsdl:part name="parameters" element="tns:Sum" />
  </wsdl:message>
  <wsdl:message name="IService1_Sum_OutputMessage">
    <wsdl:part name="parameters" element="tns:SumResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ReverseString_InputMessage">
    <wsdl:part name="parameters" element="tns:ReverseString" />
  </wsdl:message>
  <wsdl:message name="IService1_ReverseString_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReverseStringResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_HTMLTag_InputMessage">
    <wsdl:part name="parameters" element="tns:HTMLTag" />
  </wsdl:message>
  <wsdl:message name="IService1_HTMLTag_OutputMessage">
    <wsdl:part name="parameters" element="tns:HTMLTagResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SortNum_InputMessage">
    <wsdl:part name="parameters" element="tns:SortNum" />
  </wsdl:message>
  <wsdl:message name="IService1_SortNum_OutputMessage">
    <wsdl:part name="parameters" element="tns:SortNumResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="CheckPrime">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CheckPrime" message="tns:IService1_CheckPrime_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CheckPrimeResponse" message="tns:IService1_CheckPrime_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Sum">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Sum" message="tns:IService1_Sum_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SumResponse" message="tns:IService1_Sum_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReverseString">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ReverseString" message="tns:IService1_ReverseString_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ReverseStringResponse" message="tns:IService1_ReverseString_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HTMLTag">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/HTMLTag" message="tns:IService1_HTMLTag_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/HTMLTagResponse" message="tns:IService1_HTMLTag_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SortNum">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SortNum" message="tns:IService1_SortNum_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SortNumResponse" message="tns:IService1_SortNum_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckPrime">
      <soap:operation soapAction="http://tempuri.org/IService1/CheckPrime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Sum">
      <soap:operation soapAction="http://tempuri.org/IService1/Sum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReverseString">
      <soap:operation soapAction="http://tempuri.org/IService1/ReverseString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HTMLTag">
      <soap:operation soapAction="http://tempuri.org/IService1/HTMLTag" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SortNum">
      <soap:operation soapAction="http://tempuri.org/IService1/SortNum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:53855/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>